/*
Specify all the typographic styles that are going to be reused.
*/

html {
	font-family: $font-2-family;
	font-weight: $font-2-regular;
	font-size: 22px;
}

// Helper for each font used on the website. Use these only when a .t-# style doesn’t fit
.f-1 {
	font-family: $font-1-family;
	font-weight: $font-1-regular;
}

.f-2 {
	font-family: $font-2-family;
	font-weight: $font-2-regular;
}

.f-3 {
	font-family: $font-3-family;
	font-weight: $font-3-bold;
}

/*
Type styles for all major reusable typographic elements.
If type is very context reliant for styling such as heroes that scale a lot with
the screen size then create their styles within the block itself
*/
.t {
	&-1 {
		font-family: $font-1-family;
		font-size: 80px;
		font-weight: $font-1-regular;
		line-height: 1.09;
	}

	&-2 {
		font-family: $font-1-family;
		font-size: 65px;
		font-weight: $font-1-regular;
		line-height: 1.09;
	}

	&-3 {
		font-family: $font-1-family;
		font-size: 38px;
		font-weight: $font-1-regular;
		letter-spacing: .06ch;
		line-height: 1.2;
	}

	&-4 {
		font-family: $font-2-family;
		font-size: 28px;
		font-weight: $font-2-regular;
		line-height: 1.8;
	}

	&-5 {
		font-family: $font-2-family;
		font-size: 18px;
		font-weight: $font-2-regular;
		line-height: 1.2;
	}

	&-6 {
		font-family: $font-2-family;
		font-size: 14px;
		font-weight: $font-2-regular;
		line-height: 1.2;
	}
}