/*
This scope is for HTML content from the CMS
It sets up basic formatting rules so the user is not required to
*/

.scope-cms {
	line-height: $leading-standard;

	h2 {
		margin-bottom: .9em;

		&:not(:first-child) {
			margin-top: 1.7em;
		}
	}

	p, ol, ul {
		margin-top: 0;

		&:not(:last-child) {
			margin-bottom: 1.8em;
		}
	}

	ol, ul {
		&::after {
			content: url("../img/swirl-1.svg");

			display: block;

			margin: 2.4em auto 4em;
			width: 19%;
		}
	}

	ul {
		margin-left: 2em;
		margin-right: 2em;
		padding-left: 0;

		list-style-type: none;
	}

	ol {
		list-style-type: lower-alpha;

		margin-left: 1.5em;
	}

	li {
		&:not(:last-child) {
			&::after {
				content: '';

				display: block;

				margin: 1.6em auto;
				width: 38%;

				border-bottom: solid 1px #444;
			}
		}
	}

	a:link, a:visited {
		text-decoration: underline;
	}
}
