

.episode-number {
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	left: 5%;
	top: 70px;


	height: 90px;
	width: 90px;

	background-color: #fff;
	border-radius: 100%;

	font-family: $font-1-family;
	font-size: 50px;
	font-weight: $font-1-regular;

	animation: episode-number 0.3s cubic-bezier(0,0,.38,1.7) backwards;
	animation-delay: .3s;
	transform: rotate(-20deg);
}

@keyframes episode-number {
	from {
		transform: scale(0) rotate(0deg);
	}

	to {
		transform: scale(1) rotate(-20deg);
	}
}