

.gallery {
	margin-left: auto;
	margin-right: auto;
	width: 300px;

	@media all and (min-width: 400px) {
		width: 400px;
	}

	@media all and (min-width: 500px) {
		width: 500px;
	}

	@media all and (min-width: 600px) {
		width: 600px;
	}

	@media all and (min-width: 700px) {
		width: 700px;
	}

	@media all and (min-width: 800px) {
		width: 100%;
	}
}