

.header {
	position: absolute;
	z-index: 99;

	width: 100%;

	&__logo {
		position: absolute;
		left: 8%;
		top: 25px;

		width: 80px;

		@media all and (min-width: 450px) {
			top: 40px;

			width: 120px;
		}
	}

	&__nav {
		position: fixed;
		top: 0;

		background-color: rgba(0, 0, 0, .9);

		@media all and (max-width: 549px) {
			width: 100%;
		}

		@media all and (min-width: 450px) {
			display: grid;
			align-items: center;
			grid-template-columns: 230px 1fr;

			grid-template-columns: repeat(2, max-content);
		}

		@media all and (min-width: 550px) {


			right: 5%;
			top: 40px;

			background-color: rgba(110, 130, 130, .6);
			border-radius: 3px;
		}
	}

	&__links {
		display: flex;
		flex-wrap: wrap;
		//gap: 18px;

		padding: 10px 12px;
		width: 100%;

		@media all and (min-width: 550px) {
			justify-content: center;

			padding: 12px 10px 6px;
			width: 210px;

			backdrop-filter: blur(8px);
		}

		a:link, a:visited {
			display: block;

			margin: 3px 6px;

			color: #fff;
			font-weight: bold;
			letter-spacing: .04ch;
			text-decoration: none;

			@media all and (min-width: 550px) {
				margin: 0 7px 12px;
			}
		}
	}

	&__canon {
		justify-self: end;
		margin-right: 12px;

		@media all and (max-width: 549px) {
			display: none;
		}
	}
}