

.hero {
	grid-column: span 5;

	position: relative;

	margin-bottom: 5vh;

	@media all and (max-width: 499px) {
		margin-top: 40px;
	}


	&__content {
		margin-left: 8%;
		margin-right: 8%;

		margin-top: 50px;

		@media all and (min-width: 400px) {
			margin-top: 0;
		}

		@media all and (min-width: 450px) {
			margin-top: 40px;
		}

		@media all and (min-width: 670px) {
			margin-top: -40px;
		}

		@media all and (min-width: 900px) {
			margin-top: -100px;
		}

		@media all and (min-width: 1100px) {
			margin-top: -170px;
		}

		@media all and (min-width: 1400px) {
			margin-top: -220px;
		}
	}

	&__title {
		margin-bottom: .2em;

		font-family: $font-1-family;
		font-size: 50px;
		font-weight: $font-1-regular;
		letter-spacing: .05ch;

		@media all and (min-width: 415px) {
			font-size: 15vw;
		}

		@media all and (min-width: 680px) {
			margin-bottom: 0;

			font-size: 100px;
		}

		@media all and (min-width: 1000px) {
			animation: episode-title 2s ease-out backwards;
			animation-delay: .5s;
		}
	}

	&__subtitle {
		font-family: $font-1-family;
		font-size: 30px;
		font-weight: $font-1-regular;
		letter-spacing: .05ch;

		animation: episode-subtitle 1s ease-out backwards;
		animation-delay: 2.3s;

		@media all and (min-width: 475px) {
			font-size: 6vw;
		}

		@media all and (min-width: 680px) {
			font-size: 40px;
		}
	}

	&__date {
		animation: episode-subtitle 1s ease-out backwards;
		animation-delay: 1.2s;
	}
}

@keyframes episode-title {
	from {
		opacity: 0;

		letter-spacing: .3ch;

		transform: translateX(-50px);
	}

	to {
		opacity: 1;

		letter-spacing: .05ch;

		transform: translateX(0px);
	}
}

@keyframes episode-subtitle {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}